body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.7;
}

header {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  border-bottom: 2px solid #222;
}

.logoHeader img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #fff;
  text-shadow: 0 0 8px #f1f1f1;
}

h1{
    font-size: 55px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-shadow: 0px 0px 20px lightgoldenrodyellow;
    margin-top: 10px;
    margin-bottom: 1px;
}h2,h3,h4,h5,h6{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px white;
}

p{
    text-align: justify;
    color: white;
    line-height: auto;
    margin-left: 25px;
    margin-right: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

.divisor{
    background: linear-gradient(90deg,black,gold,black);
    padding: 5px;
    margin-top: 1cm;
    margin-bottom: 1cm;
    align-items: center;
}.divisor p{
    text-align: center;
}

.mision p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 25px;
    text-align: justify;
    color: white;
    text-shadow: 0px 0px 10px white;
}
.mision footer{
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 15;
    width: 100%;
    font-size: 14px;
    color: #808080;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: gray;
}