body {
  margin: 0;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  line-height: 1.7;

}

header {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  border-bottom: 2px solid #222;
}


header nav ul li a{
    margin: 0 15px;
    color: White; 
    text-decoration: none;
    font-weight: bold;
}

header nav ul li:hover a {
    background-color: gold;
    color: white;
    text-shadow: 0px 0px 10px white;
    border-radius: 5px;
    transition: 0.5s ease;
}

.logoHeader img {
  height: 20%;
  width: 20%;
  margin-left: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a.active {
  color: gold;
  text-shadow: 0 0 8px #f1f1f1;
}
nav ul li a:hover {
  color: #fff;
  text-shadow: 0 0 8px #f1f1f1;
}

h1{
    font-size: 55px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-shadow: 0px 0px 20px lightgoldenrodyellow;
    margin-top: 10px;
    margin-bottom: 1px;
}h2,h3,h4,h5,h6{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px white;
}

p{
    text-align: justify;
    color: white;
    line-height: auto;
    margin-left: 25px;
    margin-right: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

.divisor{
    background: linear-gradient(90deg,black,gold,black);
    padding: 5px;
    margin-top: 1cm;
    margin-bottom: 1cm;
    align-items: center;
}.divisor p{
    text-align: center;
}

.centrado p{
    text-align: center;
}


footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: gray;
}